<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Vue.js_learning</title>
</head>
<body>
    <div id="app">
<!--        <label >-->
<!--            男-->
<!--            <input v-model="sex" value="male" type="checkbox">-->
<!--        </label>-->
<!--        <label >-->
<!--            女-->
<!--            <input v-model="sex" value="female" type="checkbox">-->
<!--        </label>-->
<!--        <textarea v-model="article" id="" cols="30" rows="10">-->
<!--        </textarea>-->
        <select v-model="from">
            <option value="1">广州</option>
            <option value="2">深圳</option>
        </select>
        {{from}}
        <div>你要去哪里？</div>
        <select v-model="dest" multiple>
            <option value="1">广州</option>
            <option value="2">深圳</option>
        </select>
    </div>
    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>
</html>